@keyframes fadeout {
    from {
        opacity: .5;
    }

    to {
        opacity: 0;
    }
}

@keyframes open {
    from {
        width: 0;
    }

    to {
        width: 7rem;
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

:root {
    --mono: sf mono, monospace;
}

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    font-size: 87.5%;
    line-height: 160%;
    background-color: #222;
}

body {
    padding: 1rem;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

pre {
    font-family: var(--mono);
    font-size: .875rem;
    white-space: pre-wrap;
    color: #666;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 1rem 0 2rem;
    font-size: 3rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

button {
    padding: .5rem 1.5rem;
    margin: 0 .5rem .5rem 0;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background: #333;
    cursor: pointer;
}

button:hover {
    background: #555;
}

button:active {
    background: #333;
}

a:hover {
    text-decoration: underline;
}

nav {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-family: var(--mono);
    font-weight: 500;
    color: #999;
}

.browser {
    width: 100%;
    padding: 2rem 0 4rem 0;
}

.browser header {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.browser .range-slider {
    width: 18rem;
}

.browser-filmrolls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.browser-filmroll {
    width: calc(50% - .5rem);
}

@media (min-width: 1024px) {
    .browser-filmroll {
        width: calc(33% - .5rem);
    }
}

@media (min-width: 1440px) {
    .browser-filmroll {
        width: calc(25% - 1rem);
    }
}

@media (min-width: 1920px) {
    .browser-filmroll {
        width: calc(20% - 1rem);
    }
}

.browser-filmroll a {
    width: 100%;
    padding-bottom: 100%;
    display: block;
    position: relative;
    border-radius: 2px;
    background-color: #333;
    overflow: hidden;
}

.browser-filmroll a span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
}

.browser-rated-images {
    display: flex;
    flex-wrap: wrap;
}

.browser-rated-images a {
    width: 10rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.browser-rated-roll {
    padding: .25rem 1.5rem;
    margin-bottom: 1rem;
    background-color: #333;
}

.browser-rated-images img {
    border-radius: 2px;
}

.browser-rated-rating {
    display: flex;
}

.browser-rated-rating span {
    margin-right: .25rem;
}

.files {
    width: 100%;
    padding-bottom: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.files img {
    border-radius: 2px;
}

.files ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.files li:hover .files-file-footer button,
.files li:hover .files-file-rotate {
    opacity: 1;
}

.files li button {
    padding: 0;
    margin: 0;
    background: none;
}

.files li button:hover {
    color: #ccc;
}

.files-file-rotate button {
    text-shadow: 3px 3px 25px black;
}

.files-file-footer {
    width: 100%;
    padding: .25rem .125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    font-weight: 500;
}

.files-file-footer button {
    opacity: 1;
    transition: opacity .5s;
}

.files-file-rotate {
    /* // show on hover */
    opacity: 0;
    transition: opacity .5s;
}

.files-file-rotate button {
    position: absolute;
    bottom: 3.5rem;
    font-size: 2rem;
    z-index: 1;
}

.files-file-rotate button:nth-child(1) {
    left: .5rem;
    transform: rotate(270deg);
}

.files-file-rotate button:nth-child(2) {
    left: 50%;
    transform: translate(-50%, 1.5rem) rotate(180deg);
}

.files-file-rotate button:nth-child(3) {
    left: calc(100% - 1rem);
    transform: translate(-50%) rotate(90deg);
}

.files li .ratings {
    display: flex;
    align-items: center;
    position: absolute;
    top: .75rem;
    right: .5rem;
}

.files li .ratings button {
    margin-left: .125rem;
}

.files .range-slider {
    width: 15rem;
    margin-right: 2rem;
}

li {
    padding: .125rem;
    margin: 0 1rem 1rem 0;
    position: relative;
    border-bottom: 3px solid transparent;
    list-style: none;
}

li.-current {
    border-bottom: 3px solid red;
}

li.-small span {
    /* display: none; */
}

.image-settings-right {
    width: 20%;
    padding: 1rem 0 0 1rem;
    animation: appear 1s;
}

.image-settings-left {
    position: absolute;
    top: 4rem;
    left: 1rem;
    animation: appear 1s;
}

@media (min-width: 1441px) {
    .image-settings-left {
        top: 10%;
    }
}

.image-settings-left button {
    width: 3.25rem;
    height: 3.25rem;
    display: block;
    position: relative;
}

.image-settings-left img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-settings-group {
    padding-bottom: 1rem;
    position: relative;
}

.image-settings-paste {
    width: 14rem;
    position: absolute;
    top: 0;
    left: 4rem;
}

.image-settings-paste button,
.image-settings-paste {
    font-size: .875rem;
}

.expression-editor {
}

.expression-editor button {
    width: initial;
}

.expression-editor-hint {
    padding: .25rem .75rem;
    display: block;
    font-family: var(--mono);
    font-size: 1rem;
    background-color: #444;
}

textarea {
    padding: .5rem 1rem;
    margin: 0;
    border: none;
    border-radius: 0 0 2px 2px;
    font-family: var(--mono);
    font-size: 1rem;
    color: #fff;
    background-color: #333;
}

input, textarea {
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2rem;
    margin: 0;
    border-radius: 2px;
    background-color: #333;
    outline: none;
}

input[type="range"]:hover {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 2rem;
    position: relative;
    border: 0;
    border-radius: 0;
    background: #eee;
    cursor: pointer;
    z-index: 98;
}

.range-slider {
    width: 100%;
    margin-top: 1rem;
    position: relative;
}

.range-slider label {
    width: 100%;
    padding: .16rem .5rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    color: #999;
    pointer-events: none;
}

.range-slider:hover label span:last-child {
    color: #fff;
}

.range-slider label span:last-child {
    font-family: var(--mono);
    color: #999;
}

#image-section {
    width: 80%;
    height: 100vh;
    padding: 2rem 1rem 4rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crop-settings {
    width: 14rem;
    padding: .75rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 4.5rem;
    background-color: #333;
}

.crop-settings .range-slider {
    margin: 0;
}

.crop-settings input[type="range"] {
    border-top: 2px solid #555;
    background-color: #333;
}

.crop-settings button {
    margin: 0;
    font-size: 1rem;
}

.image-wrapper {
    margin-bottom: 2rem;
    position: relative;
    overflow: hidden;
}

.coordinate {
    padding-left: .25rem;
    display: flex;
    position: absolute;
    font-family: var(--mono);
    font-weight: 500;
    text-align: left;
    background-color: #333;
    transition: background-color .35s;
    animation: open .35s forwards;
}

.coordinate button {
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: #fff;
    background-color: transparent;
    transition: background-color .35s;
}

.coordinate:hover {
    background-color: #444;
    z-index: 1;
}

.coordinate.-dark:hover {
    background-color: #eee;
}

.coordinate:after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #fff;
    transition: background-color .35s;
}

.coordinate.-flip:after {
    right: 0;
    left: unset;
}

.coordinate.-flap:after {
    top: unset;
    bottom: -5px;
}

.coordinate.-dark:after {
    background-color: #333;
}

.coordinate.-dark button {
    color: #333;
}

.coordinate.-dark {
    background-color: #fff;
}

.coordinate.-flip {
    transform: translateX(-100%);
}

.coordinate.-flap {
    transform: translateY(calc(-5px + -100%));
}

.coordinate.-flip.-flap {
    transform: translate(-100%, calc(-5px + -100%));
}

.coordinate-buttons {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.coordinate-buttons button {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0 .25rem 1px;
    align-items: center;
    justify-content: center;
    background-color: #444;
}

.coordinate-buttons button:hover {
    background-color: #333;
}

.-dark .coordinate-buttons button {
    color: #333;
    background-color: #eee;
}

.-dark .coordinate-buttons button:hover {
    background-color: #e1e1e1;
}

.coordinate-info {
    position: absolute;
    top: 0;
    left: 0;
}

.image-crop-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.image-crop-overlay:after {
    content: "";
    width: 100%;
    height: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}

.image-crop-overlay:before {
    content: "";
    width: .5rem;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}

.histogram {
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
    display: flex;
    transform: scaleY(-1);
}

.histogram-bar {
    width: 4px;
    display: block;
    background-color: #444;
    transition: height 1.5s;
}

.zones {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zones ul {
    width: 100%;
    height: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    animation: appear 1s;
}

.zones li {
    width: 4rem;
    margin: 0 .125rem;
    display: flex;
    justify-content: center;
    font-size: .875rem;
    transform: translateY(-50%);
    transform-origin: center center;
}

.zones li span {
    padding: 1rem;
}

img {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
    display: block;
}

.notifications {
    width: calc(20% - 2rem);
    min-width: 20rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
}

.notifications .server:after,
.notifications .warning:after,
.notifications .normal:after {
    content: "";
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: .25rem;
    left: .25rem;
    border-radius: .5rem;
    background-color: red;
}

.notifications .normal:after {
    background-color: green;
}

.notifications .server:after {
    background-color: orange;
}

.notifications span {
    padding: .25rem 1rem .25rem 1.5rem;
    margin: .25rem 0;
    opacity: .5;
    display: block;
    position: relative;
    border-radius: 2px;
    font-size: .875rem;
    background-color: #333;
    animation: slidedown .35s;
}

.loading-spinner {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-top-color: #777;
    animation: spin 0.75s linear infinite;
}

.fullscreen #image-section {
    width: calc(100% - 2rem);
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.fullscreen #image-section .image-wrapper {
    margin-bottom: 1rem;
}

.fullscreen #image-section img {
    max-height: 87vh;
}

.fullscreen .coordinate,
.fullscreen nav,
.fullscreen .image-settings-right,
.fullscreen .files {
    display: none;
}

.scroll-cancel-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
