html {
    font-size: 87.5%;
    line-height: 160%;
    background-color: #222;
}

body {
    padding: 1rem;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#files {
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    padding: .5rem 1rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    background: #666;
    cursor: pointer;
}

button:hover {
    background: #555;
}

button:active {
    background: #333;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
    column-count: 6;
}

li {
    margin: 0 1rem .5rem 0;
}

input {
    width: 100%;
}

#image-settings {
    width: 20%;
    padding: 1rem;
}

#image-section {
    width: calc(70% - 4rem);
    height: 100vh;
    margin: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

img {
    object-fit: contain;
}
